<% const d = new Date()
let year = d.getFullYear() %>
<footer>
    <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
    <a href="/inv/serverError">Error Link</a>
</footer>
<!--Code above allows Javascript to determine the current year, and displat it in the copyright notice. 
This eases maintenance, as the year will automatically update each year. -->