<div id="home">
    <div class="home-highlight-card">
        <h1>Welcome to CSE Motors!</h1>
        
        <div class="highlight-container">
            <div class="feature-card">
                <p class="feature-title">DMC Delorean</p>
                <p class="feature">3 Cup holders</p>
                <p class="feature">Superman doors</p>
                <p class="feature">Fuzzy dice!</p>    
                <img src="/images/site/own_today.png" alt="own_today" class="feature-btn">
            </div>
        
            <picture class="product-img">
                <source media="(min-width: 800px)" srcset="/images/vehicles/delorean.jpg">
                <img src="/images/vehicles/delorean-tn.jpg" alt="Delorean Car" >
            </picture>
        </div>
    </div>
    
    <div class="cards-container">
        <div class="review-card">
            <h2>DMC Delorean Reviews</h2>
            <ul class="review-list">
                <li class="list-item">"So fast it's almost like traveling in time." (4/5)</li>
                <li class="list-item">"Coolest ride on the road." (4/5)</li>
                <li class="list-item">"I'm feeling McFly!" (5/5)</li>
                <li class="list-item">"The most futuristic ride of our day." (4.5/5)</li>
                <li class="list-item">"80's livin and I love it!" (5/5)</li>
            </ul>
        </div>

        <div class="upgrade-card">
            <h2>Delorean Upgrades</h2>
            <div class="upgrade-grid">
                <div class="grid-item">
                    <div class="img-container">
                        <img src="/images/upgrades/flux-cap.png" alt="flux capacity">
                    </div>
                    <a href="">Flux Capacitor</a>
                </div>
                <div class="grid-item">
                    <div class="img-container">
                        <img src="/images/upgrades/flame.jpg" alt="flame decals">
                    </div>
                    <a href="">Flame Decals</a>
                </div>
                <div class="grid-item">
                    <div class="img-container">
                        <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper sticker">
                    </div>
                    <a href="">Bumper Stickers</a>
                </div>
                <div class="grid-item">
                    <div class="img-container">
                        <img src="/images/upgrades/hub-cap.jpg" alt="hub cap">
                    </div>
                    <a href="">Hub Caps</a>
                </div>
            </div>
        </div>
    </div>
</div>
